* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1{
  display: flex;
  align-items: center;
  justify-self: center !important;
}
body {
  overflow-x: hidden;
}

h1 {
  color: rgb(4, 67, 4);
  font-weight: 700;
}

.head {
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 50px 0 50px;
  text-transform: capitalize;
}

.head img {
  height: 70px;
  width: 190px;
}

.head a {
  text-decoration: none;
  font-size: 20px;
  color: black;
  text-transform: capitalize;
}

.head a:hover {
  color: rgba(98, 62, 14, 0.884);
  text-decoration: underline;
}

.head a,
.head button {
  display: none;
}

.fa-icon {
  width: 50px;
  height: 50px;
  margin-left: 7rem;
  padding-top: 20px;
  font-size: 20px;
}

#buy {
  padding: 10px 60px;
  height: 40px;
  background-color: rgba(174, 101, 6, 0.865);
  border: none;
  color: #ffffff;
  text-transform: capitalize;
  border-radius: 5%;
  border:none;
}

.home {
  background-image: url(./image/2263.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  position: relative;
}

.home-title {
  display: flex;
  flex-direction: column;
  padding: 20px 20px 20px 50px;
  background-color: rgba(240, 248, 255, 0.75);
  backdrop-filter: blur(10px);
  width: 300px;
  min-width:320px ;
  height: 250px;
  border-radius: 2%;
  position: absolute;
  top: 70px;
  left: 20px;
  text-transform: capitalize;
  animation: fadeIn 3s;
}

@keyframes fadeIn {
  from {
    transform: translateY(50px);
    opacity: 0.125;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.home-title span {
  font-weight: bold;
  font-size: 30px;
  padding-bottom: 20px;
  display: block;
  text-transform: capitalize;
}

.home-title p {
  font-size: 26px;
  margin-top: 20px;
}

#dum {
  width: 200px;
  height: 40px;
  margin-top: 35px;
  padding: 10px 60px;
  background-color: rgba(186, 109, 9, 0.945);
  border: none;
  color: #ffffff;
  text-transform: capitalize;
  border-radius: 5%;
}

.header {
  display: flex;
  align-items: center;
  padding: 20px;
}

.font {
  background: #fff;
  padding: 30px 0;
  overflow: hidden;
  width: 100%;
  mask-image: linear-gradient(
    to right,
    transparent 0%,
    white 15%,
    white 85%,
    transparent 100%
  );
  -webkit-mask-image: linear-gradient(
    to right,
    transparent 0%,
    white 15%,
    white 85%,
    transparent 100%
  );
}

.font-wrapper {
  display: flex;
  width: max-content;
  animation: font 20s linear infinite;
}

.font-wrapper i {
  color: #333;
  font-size: 20px;
  margin: 0 40px;
}

@keyframes font {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.div {
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
  padding-top: 60px;
}

.div h2,
.div p {
  padding: 20px;
}

.div h2{
color: darkgreen;
margin-top: 20px;
font-size: 30px;
}
.mun {
  width: 30rem;
  max-width: 70vw;
  height: 20rem;
  margin: 0 auto;
  display: flex;
  align-self: center;
}

.name {
  display: flex;
  justify-content: end;
  margin-top: 5rem;
  position: relative;
}

.nun {
  width: 20rem;
  max-width: 35vw;
  height: 10rem;
  position: absolute;
  top: 5%;
  left: 52%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}

.div img:hover {
  filter: brightness(40%);
}

.div-img-parent {
  overflow: hidden;
}

.foot {
  text-align: center;
  padding-top: 50px;
}

.foot h1 {
  font-size: 30px;
  text-transform: capitalize;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 10px 10px 10px 10px;
  margin-right: 20px;
  gap: 1rem;
}

#ttt {
  margin: 20px;
  padding: 10px 20px;
  color: rgba(98, 62, 14, 0.849);
  text-transform: capitalize;
  border-radius: 5%;
  border: 1px solid rgba(98, 62, 14, 0.849);
}

#ttt:hover {
  background-color: rgba(194, 113, 6, 0.904);
  color: white;
  border: none;
}
.container p{
padding-left: 20px;
}
.awesome,
.awe,
.film,
.gum,
.fum,
.jum {
  margin:10px 10px 10px 10px;
  border-radius: 5%;
  box-shadow: 4px 4px 10px rgba(98, 62, 14, 0.884);
 
}

.awesome i,
.film i,
.awe i {
  margin: 10px 0 10px 10px;
  padding: 5px;
  border-radius: 100%;
}

.awesome i {
  color: purple;
  background-color: rgba(128, 0, 128, 0.413);
}

.film i {
  color: green;
  background-color: rgba(0, 128, 0, 0.397);
}

.awe i {
  color: yellow;
  background-color: rgba(255, 255, 0, 0.336);
}

.container h3 {
  margin-left: 20px;
}

#time{
  display: flex;
  text-align: center;
  justify-self: center;
  text-transform: capitalize;
}

.nuk h1 {
  margin-top: 100px;
  display: flex;
  text-align: center;
   justify-self: center;
  text-transform: capitalize;
}

.product-section {
  display: flex;
  justify-items: center;
  align-items: center;
  flex-direction: column;
  padding: 0 80px 0 100px;
 
}

.product img {
  width: 70vw;
  height: 25rem;
  margin-top: 20px;
  border-radius: 3%;
}

.product i {
  position: relative;
  left: 100px;
  color: yellow;
}

.product h4 {
  padding: 10px 0;
  text-transform: capitalize;
}

.product span {
  padding-left: 14rem;
}

#bum {
  display: block;
  text-transform: capitalize;
  padding: 10px 50px;
  margin: 20px 0;
  background-color: rgba(194, 113, 6, 0.904);
  border: none;
  border-radius: 5%;
  color: #ffffff;
}

.pre-footer {
  padding-bottom: 20px;
}
.pre-footer p11{
  padding-left: 20px;
  display: flex;
  align-self: center;
  justify-self: center;
}

.pre-footer i {
  color: black;
  padding: 25px 0 0 25px;
}

.nuell {
  /* padding-left: 10px; */
}

.nuell img {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  position: relative;
  bottom: -27px;
}

.nuell h9,
.nuell p20 {
  font-weight: bold;
  margin-left: 55px;
}

.diva {
  margin-left: 48px;
}

.diva  i{
  color: yellow;
  margin-bottom: 25px;
  padding: 0px;
}

.dice-section {
  margin-top: 100px;
  text-align: center;
}

.dice-section h1,
.dice-section p {
  text-align: center;
}

.ford {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 20px;
  margin: 0 auto;
  max-width: 1000px;
}

.ford video,
.ford iframe {
  object-fit: cover;
  width: 30rem;
  max-width: 70vw;
  height: 400px;
  display: block;
  border: none;
  border-radius: 5%;
}

.dice-section input {
  width: 50%;
  height: 50px;
  background-color: burlywood;
  border: none;
}

.sum {
  width: 50%;
  padding-left: 20px;
  margin-top: 2rem;
}

#holder {
  background-color: rgba(194, 113, 6, 0.904);
  margin-top: 20px;
  width: 20%;
   margin-left: 7rem;
  padding: 15px 70px 15px 50px;
  border: none;
  border-radius: 5%;
  color: white;
  display: block;
}

.footer {
  background-color: rgb(237, 206, 166);
  width: 100%;
  margin-top: 20px;
}

.footer img {
  height: 80px;
  width: 190px;
}

.footer-content {
  width: 80%;
  margin-inline: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

.footer-content ul {
  display: flex;
  gap: 1rem;
  padding-bottom: 40px;
}

.footer a {
  text-decoration: none;
  font-size: 20px;
  color: black;
  text-transform: capitalize;
}

.me {
  width: 80%;
  margin-inline: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-transform: capitalize;
  justify-content: space-between;
  padding-bottom: 10px;
}

.other {
  padding-bottom: 1rem;
}

span3 {
  color: blue;
  font-size: 20px;
  margin-right: 12px;
}

span4,
span5,
span6 {
  color: white;
  border-radius: 100%;
  padding: 4px 6px;
  margin-right: 12px;
}

span4 {
  background-color: rgb(239, 32, 67);
}

span5 {
  background-color: blue;
}

span6 {
  background-color: black;
}

@media screen and (min-width: 769px) {
  .container {
    flex-direction: row;
    gap: 0 !important;
  }

  .div {
    flex-direction: row;
    padding-right: 6rem;
    text-align: left;
  }

  .product-section {
    flex-direction: row;
  }

  .product img {
    width: 40vw;
  }

  .me,
  .footer-content,
  .ford {
    flex-direction: row;
    align-items: flex-end;
  }
}

@media screen and (min-width: 992px) {
  .fa-icon {
    display: none;
  }

  .head a,
  .head button {
    display: flex;
  }
  
  
}
